.cart {}

.cart__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.cart__listWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart__title {
  padding: 16px;
  border-radius: 6px;
  background: var(--blackForBg);
}

@media (max-width: 768px) {
  .cart__container {
    grid-template-columns: 1fr;
  }
}